body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style de base pour la page */
body {
    font-family: 'Calibri';
    background-color: #1e1e1e;
    overflow-x: hidden;
}

.row{
    box-sizing: border-box;
    display: block;
}

.column{
    width: 25%;
    float: left;
    margin-left: 15px;
}

.contact{
    margin: auto;
}

.name{
    width: 10%;
    margin: auto;
}

.sidebar {
    background-color: #FCD8FE;
    color: #1e1e1e;
    padding: 5px;
    overflow: auto;
    display: flex;
    margin: 30px 30px 0px 30px;
    border-radius: 50px;
}

.sidebar h2 {
    font-size: 1.5rem;
    
}

.sidebar ul li {
    display: inline-block;
    height: 20px;
    padding: 10px 10px 10px 10px;
}

.sidebar ul li a {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 18px;
}

.content {
    margin: 0px 75px 75px 75px;
    padding: 75px 0px 0px 5px;
    color: #FCD8FE;
    display: flex;
}

.accueil{
    padding-right: 50px;
}

.kand{
    width: 400px;
}

.content h1 {
    margin: auto;
    font-size: 2rem;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    line-height: 1.4;
}

.format{
    display: inline-block;
}

table{
    width: 100%;
    padding-bottom: 50px;
}

tr{
    text-align: justify;
}

/* Style de survol pour les liens du menu */
.sidebar ul li a:hover {
    text-decoration: underline;
}
